
/012-Inteligencia Artificial/002-Entrenamiento/101-Ejercicios/venv
/012-Inteligencia Artificial/003-Bases de datos vectoriales/101-Ejercicios/chroma_data
/012-Inteligencia Artificial/002-Entrenamiento/101-Ejercicios/qwen25-05b-jvc-merged
/012-Inteligencia Artificial/002-Entrenamiento/101-Ejercicios/qwen25-05b-jvc
